*{margin:0; padding: 0px;}*

body
{
    background-color: black;
}

.header 
{
    background-color: #020347;
    padding: 20px;
}

/*  .header figure{
    padding: 0 0 15px 0;
  }*/


.footer {
    left:0;
    bottom:0;
    width:100%;
    background-color: #020347;
    padding: 5px;
    text-align: center;
    position: fixed;
}

#imagem {
    margin-left: 1500px;
    width: 60px; 
    height: 30px;
  }

@font-face 
{ 
    font-family: Bellerose; 
    src: url('../Fonts/Bellerose.ttf'); 
}

p
{
    font-family: Bellerose;
    color: white;
}

h1
{
    color:white;
    text-align:center;
    font-family: Bellerose;
    margin-top:50px;
}

.bighr
{ 
    height: 0px;
    color: white;
    margin-left:30px;
    margin-right:30px;
}

.blogpostimg
{
    border:solid;
    border-color:white;
    border-width: 1px;
    margin-top:30px;
    margin-left:30px;
}

.blogpostp
{
    position:relative;
    left:300px;
    bottom:150px;
}

.ul li a
{
    list-style: none;
    text-decoration: none;
    font-size: 40px;
    font-family: Verdana, Arial, sans-serif;
    color: white;
}

.ul
{
    position: initial;
    text-align: center;
    margin: -170px 0 70px 0;
}

.ul li
{
    border: 1px solid #c0c0c0;
    display: inline-block;
    -moz-box-shadow: 0 3px 10px 0 #CCC;
    margin-right: 30px;
    -webkit-box-shadow: 0 3px 3px 0 #ccc;
}