*{margin:0; padding: 0px;}*
body{
    background-color: black;
}

.header {
    background-color: #020347;
    padding: 5px;
    text-align: center;
  }

  p{
    font-family: Bellerose;
    color: white;
  }

.footer {
    left:0;
    bottom:0;
    width:100%;
    background-color: #020347;
    padding: 5px;
    text-align: center;
    position: fixed;
  }

@font-face { 
    font-family: Bellerose; 
    src: url('../Fonts/Bellerose.ttf'); 
}