*{margin:0; padding: 0px;}*

body{
    background-color: black;
    color: white;
}

.header {
    background-color: #020347;
    padding: 20px;

  }

/*  .header figure{
    padding: 0 0 15px 0;
  }*/

  ul li a{
    list-style: none;
    text-decoration: none;
    font-size: 30px;
    font-family: Verdana, Arial, sans-serif;
    color: white;
  }
  ul{
    position: relative;
    float: right;
    margin: -80px 50px 10px 10px;

  }

  ul li{
    border: 1px solid #c0c0c0;
    display: inline-block;
    -moz-box-shadow: 0 3px 10px 0 #CCC;
    margin-right: 10px;
    -webkit-box-shadow: 0 3px 3px 0 #ccc;
  }


.footer {
    left:0;
    bottom:0;
    width:100%;
    background-color: #020347;
    padding: 5px;
    text-align: center;
    position: fixed;
  }

  #imagem {
    margin-left: 1200px;
    width: 50px; 
    height: 20px;
  }

@font-face { 
    font-family: Bellerose; 
    src: url('../Fonts/Bellerose.ttf'); 
}

p{
    font-family: Bellerose;
    font-size: 18px;
  }